<a href="https://colab.research.google.com/github/YoussefDiaa1/Ai-ripo/blob/main/Session1_ITI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num1 = 3
num2 = 4
num3 = 5
print(num1 + num2)
print(num3 - num1)
print(num1 * num2 + num3)
print(num1 * (num2 + num3))
print(num3 / num1)
print(num3 // num1)
print(num3 % num1)

7
2
17
27
1.6666666666666667
1
2

In [2]:
# Convert to float
num1 = float(num1)
num2 = float(num2)
num3 = float(num3)

print(num1 + num2)
print(num3 - num1)
print(num1 * num2 + num3)
print(num1 * (num2 + num3))
print(num3 / num1)
print(num3 // num1)
print(num3 % num1)

7.0
2.0
17.0
27.0
1.6666666666666667
1.0
2.0

In [3]:
x, y, z, g = 1, 2, 3, 4

result_a = x + y * z / g

result_b = y * z**g

print(f"a) {result_a}, b) {result_b}")

a) 2.5, b) 162

In [4]:
str_a = "Python"
str_b = "is a"
str_c = "times fun language"
num = 1000

str_ab = str_a + " " + str_b + " " + str(num) + " " + str_c

str_all0 = str_a * 10

print(f"3a) {str_ab}\n3b) {str_all0}")

3a) Python is a 1000 times fun language
3b) PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [6]:
import math

num_1 = -5
num_2 = 3.2
num_3 = 5.7
num_4 = 625

abs_val = abs(num_1)


round_2 = round(num_2)
round_3 = round(num_3)

sqrt_val = math.sqrt(num_4)

print(f"a) {abs_val}, b) num_2→{round_2}, num_3→{round_3}, c) {sqrt_val}")

a) 5, b) num_2→3, num_3→6, c) 25.0

In [7]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

result = num1 * num2
print(f"Result: {num1} × {num2} = {result}")

Enter first number: 3
Enter second number: 3
Result: 3.0 × 3.0 = 9.0

In [8]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

Enter a number: 3
3 is odd

In [9]:
score = float(input("Enter student's score (0-100): "))
if score >= 50:
    print("Pass")
else:
    print("Fail")

Enter student's score (0-100): 50
Pass

In [10]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

largest = num1
if num2 > largest:
    largest = num2
if num3 > largest:
    largest = num3

print(f"The largest number is {largest}")

Enter first number: 1
Enter second number: 2
Enter third number: 3
The largest number is 3.0

In [11]:
print("Numbers from 1 to 10:")
for i in range(1, 11):
    print(i, end=' ')

Numbers from 1 to 10:
1 2 3 4 5 6 7 8 9 10

In [12]:
score = float(input("Enter student's score: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"Grade: {grade}")

Enter student's score: 94
Grade: A

In [13]:
num = int(input("Enter a number: "))
print(f"Multiplication table for {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Enter a number: 5
Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [14]:
total = 0
for num in range(2, 51, 2):
    total += num
print(f"Sum of even numbers between 1-50: {total}")

Sum of even numbers between 1-50: 650

In [15]:
num = int(input("Enter a positive integer: "))
factorial = 1
counter = 1

while counter <= num:
    factorial *= counter
    counter += 1

print(f"{num}! = {factorial}")

Enter a positive integer: 5
5! = 120